<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("assets/img/about.jpg");'>
                <a href="{{ about.video }}" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                <div class="content">
                    <h3>{{ about.title_1 }} <strong>{{ about.title_2 }}</strong></h3>
                    <p>
                        {{ about.desc_top_1 }}
                    </p>
                    <p class="fst-italic">
                        {{ about.desc_top_2 }}
                    </p>
                    <ul>
                        <li><i class="bx bx-check-double"></i>{{ about.desc_li_1 }}</li>
                        <li><i class="bx bx-check-double"></i>{{ about.desc_li_2 }}</li>
                        <li><i class="bx bx-check-double"></i>{{ about.desc_li_3 }}</li>
                    </ul>
                    <p>{{ about.desc_bottom }}</p>
                </div>

            </div>

        </div>

    </div>
</section><!-- End About Section -->